---
page_title: "{{.Name}} ({{.Type}})"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Introduction

Bandwidth control enables you to limit the rate of incoming (ingress) and outgoing (egress) traffic on a given port, measured in kilobits per second (kbps).  This can be useful for managing network congestion, prioritizing certain types of traffic, or ensuring fair bandwidth allocation.

Using this resource, you can specify separate ingress and egress rates for a port.  You have the option to set a specific bandwidth limit in kbps, or disable rate limiting altogether by setting the rate to either "0" or "Unlimited".  This allows for flexible configuration depending on your network requirements.  You must specify the port on which you wish to apply the bandwidth control.  For example, you can limit the bandwidth on a physical port like "Port 1" or a logical interface such as "Trunk2".

{{ if .HasExample -}}

## Example Usage

{{codefile "terraform" .ExampleFile}}

{{- end }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}

## Import

Import is supported using the following syntax:

{{ printf "{{codefile \"shell\" %q}}" .ImportFile }}

{{- end }}
