---
page_title: "{{.Name}} ({{.Type}})"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Introduction

EEE, also known as Green Ethernet, is a technology defined in the IEEE 802.3az standard, designed to reduce power consumption in network devices during periods of low link utilization. By enabling EEE, the system can dynamically switch network interfaces to a low-power state when there is little or no traffic. This resource provides a simple way to enable or disable EEE on the entire system.

{{ if .HasExample -}}

## Example Usage

{{codefile "terraform" .ExampleFile}}

{{- end }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}

## Import

Import is supported using the following syntax:

{{ printf "{{codefile \"shell\" %q}}" .ImportFile }}

{{- end }}
