---
page_title: "{{.Name}} ({{.Type}})"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Introduction

Static MAC addresses are manually configured entries that associate a specific MAC address with a particular port and VLAN.  Unlike dynamically learned MAC addresses, static entries remain in the MAC address table even if the associated device disconnects, ensuring that traffic destined for that MAC address is always forwarded to the specified port and VLAN. This can be useful for connecting devices with fixed MAC addresses, such as servers or critical infrastructure, and ensures consistent network connectivity.

{{ if .HasExample -}}

## Example Usage

{{codefile "terraform" .ExampleFile}}

{{- end }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}

## Import

Import is supported using the following syntax:

{{ printf "{{codefile \"shell\" %q}}" .ImportFile }}

{{- end }}
